/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}
.card{
  width: 20%;
  text-align: center;
  height: 100px;
}
.moves{
  display: flex;
  justify-content: center;
}
p{
  margin-right: 5px;
}
section{
  display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
